* {margin: 0;padding: 0;border: 0;}

#main {height:100%;}

div{position:relative;}

body {
  background: #EBEBFB;
  text-align:center;
  padding-top:60px;
  display: inline-block;
}


input[type="number"].custom {
  position: relative;
  top: 30px;
  -webkit-appearance: none;
  appearance: none;
  background: #FFF;
  height:50px;
  width: 100px;
  outline: none;
  text-align:center;
  font-size:1.3em;
  font-family:Arial, sans-serif;
  color:#555;
  border:solid 1px #ccc;
  margin:0 0 20px;
  border-radius:10px;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus:invalid{
  border-color: #e07fb7;
  border-width: 2px;
}

input:focus:valid{
  border-color: #6ec4ff;
  border-width: 2px;

}

.count{
  position:relative;
  right: 600px;
color: #6A6A6A;
font-size: 20px;

}

.mojinoiro{
  color: #6A6A6A;
}

#output1{
margin-left:5px;
}

.submit_button{
  margin-left:700px;
  font-size:19px;
  color:#fff;
  background-color: #1e94fb;
  vertical-align: 200px;
  width: 70px;
  height:38px;
  outline:none;
  border-radius: 7px;
  padding: 8px 11px;
  box-shadow: 0px 0px 0px 0px rgba(3,95,175, 0);
  color: #ffffff;
}

.submit_button:hover{
  font-size:19px;
  color:#fff;
  margin-top:-4px;
  background-color: #2d9bfb;
  top:-4px;
  height:42px;
  outline:none;
  border-bottom: 4px solid rgba(3,95,175, 1);
  transition: all 33ms;
  -moz-transition: all 33ms;
  -webkit-transition: all 33ms;
  -o-transition: all 33ms;
  outline:;
}

.submit_button:hover:before{
  transition: all 33ms;
  -moz-transition: all 33ms;
  -webkit-transition: all 33ms;
  -o-transition: all 33ms;
    border-bottom: 4px solid rgba(3,95,175, 1);
    outline: none;
}

.submit_button:hover .button-content  {
  box-shadow: 0px 4px 0px 0px rgba(3,95,175, 1);
  transition: all 33ms;
  -moz-transition: all 33ms;
  -webkit-transition: all 33ms;
  -o-transition: all 33ms;
  outline: none;
}

.submit_button:active {
  margin-top:0px;
  height: 38px;
  font-size:19px;
  box-shadow: 0px 1.8px 0px 0px rgba(2,81,150, 2) inset;
  outline:none;
}

.submit_button:active:before  {
  top: -4px;
  padding-bottom: 4px;
  border-bottom: 0px solid rgba(3,95,175, 0);
}

.submit_button:active  {
  box-shadow: 0px 0px 0px 0px rgba(3,95,175, 0);
  outline: none;

}


.username{
position:relative;
left: 35px;
vertical-align: -100px;
padding:9px;
text-align:center;
font-size:1.3em;
font-family:Arial, sans-serif;
color:#777;
border:solid 1px #ccc;
margin:0 0 20px;
width:300px;
border-radius:10px;
outline: none;
}


.start_button{
  font-size:19px;
  color:#fff;
  vertical-align: -100px;
  background-color: #1e94fb;
  position:relative;
  left: 60px;
  width: 70px;
  height:38px;
  outline:none;
  border-radius: 5px;
}

.start_button:hover{
    vertical-align: -96px;
  height:38px;
  outline:none;
  box-shadow: 0px 3px 0px 0px rgba(3,95,175, 1);
  transition: all 33ms;
  -moz-transition: all 33ms;
  -webkit-transition: all 33ms;
  -o-transition: all 33ms;
}

.submit_button:active:hover {
  top:-4px;
  padding-bottom: -4px;
}

.start_button:active  {
  vertical-align: -100px;
  margin-top:4px;
  background-color: #0488fa;
  box-shadow: 0px 1.8px 0px 0px rgba(2,81,150, 2) inset;
  height:38px;
  border-bottom:none;
  outline:none;
}


